# store data into json 

for example

{label : weightlv1short , freq:{bad:13,ordinary:1,good:0}}

In [1]:
import pandas as pd
bs = pd.read_csv('baseball_data.csv')

In [2]:
bs.describe()

            height       weight          avg           HR
count  1157.000000  1157.000000  1157.000000  1157.000000
mean     72.756266   184.513397     0.186793    45.359551
std       2.142272    15.445995     0.106175    74.065110
min      65.000000   140.000000     0.000000     0.000000
25%      71.000000   175.000000     0.138000     1.000000
50%      73.000000   185.000000     0.238000    15.000000
75%      74.000000   195.000000     0.258000    55.000000
max      80.000000   245.000000     0.328000   563.000000

In [3]:
labels1 = ['light','2','3','4','5']
bs['weight1'] = pd.cut(bs['weight'],5,labels = labels1)

In [4]:
bs['weight1']

0       2
1       2
2       2
3       2
4       1
5       4
6       3
7       3
8       2
9       3
10      3
11      3
12      2
13      3
14      2
15      2
16      3
17      3
18      3
19      3
20      3
21      3
22      4
23      2
24      3
25      3
26      2
27      2
28      4
29      2
       ..
1127    3
1128    3
1129    3
1130    2
1131    3
1132    3
1133    3
1134    2
1135    4
1136    2
1137    2
1138    2
1139    2
1140    2
1141    1
1142    5
1143    4
1144    3
1145    4
1146    3
1147    4
1148    4
1149    2
1150    2
1151    2
1152    3
1153    2
1154    2
1155    4
1156    2
Name: weight1, dtype: category
Categories (5, object): [1 < 2 < 3 < 4 < 5]

In [5]:
l3 = ['low','mid','high']
bs['avg1'] = pd.cut(bs['avg'],3,labels = l3)

In [6]:
bs['avg1']

0        low
1        mid
2       high
3       high
4       high
5        mid
6        mid
7       high
8       high
9        low
10       low
11       low
12      high
13      high
14       low
15       mid
16      high
17      high
18      high
19      high
20       low
21       low
22       low
23      high
24      high
25      high
26      high
27      high
28      high
29      high
        ...
1127     low
1128    high
1129     mid
1130    high
1131     low
1132     mid
1133    high
1134     mid
1135     low
1136    high
1137     low
1138    high
1139    high
1140    high
1141     mid
1142     low
1143     low
1144    high
1145     low
1146    high
1147     low
1148     mid
1149    high
1150     low
1151    high
1152     low
1153    high
1154    high
1155     low
1156     low
Name: avg1, dtype: category
Categories (3, object): [low < mid < high]

In [7]:
label2 = ['S','M','H']
bs['height1'] = pd.cut(bs['height'],3,labels = label2)

In [8]:
bs['height1']

0       M
1       M
2       M
3       S
4       S
5       M
6       M
7       M
8       M
9       M
10      M
11      M
12      S
13      M
14      M
15      M
16      M
17      S
18      M
19      M
20      M
21      M
22      H
23      M
24      M
25      M
26      M
27      M
28      M
29      M
       ..
1127    M
1128    S
1129    H
1130    M
1131    M
1132    M
1133    M
1134    M
1135    H
1136    S
1137    M
1138    M
1139    M
1140    S
1141    S
1142    H
1143    H
1144    S
1145    H
1146    M
1147    H
1148    M
1149    S
1150    M
1151    M
1152    M
1153    M
1154    S
1155    M
1156    S
Name: height1, dtype: category
Categories (3, object): [S < M < H]

In [43]:
data =  bs.groupby(['weight1','height1','avg1'])['name'].count()

In [44]:
data.to_csv('data.csv')

In [51]:
data =pd.read_csv('data.csv')
data['weight1'] = data['weight1'].astype(str)

In [54]:
data['Label']=data['weight1']+data['height1']

In [56]:
data.to_csv('data.csv')