# store data into json 

for example

{label : weightlv1short , freq:{bad:13,ordinary:1,good:0}}

In [1]:
import pandas as pd
bs = pd.read_csv('baseball_data.csv')

In [2]:
bs.describe()

            height       weight          avg           HR
count  1157.000000  1157.000000  1157.000000  1157.000000
mean     72.756266   184.513397     0.186793    45.359551
std       2.142272    15.445995     0.106175    74.065110
min      65.000000   140.000000     0.000000     0.000000
25%      71.000000   175.000000     0.138000     1.000000
50%      73.000000   185.000000     0.238000    15.000000
75%      74.000000   195.000000     0.258000    55.000000
max      80.000000   245.000000     0.328000   563.000000

In [3]:
labels1 = ['light','not_too_light','medium','not_too_heavy','heavy']
bs['weight1'] = pd.cut(bs['weight'],5,labels = labels1)

In [4]:
bs['weight1']

0       not_too_light
1       not_too_light
2       not_too_light
3       not_too_light
4               light
5       not_too_heavy
6              medium
7              medium
8       not_too_light
9              medium
10             medium
11             medium
12      not_too_light
13             medium
14      not_too_light
15      not_too_light
16             medium
17             medium
18             medium
19             medium
20             medium
21             medium
22      not_too_heavy
23      not_too_light
24             medium
25             medium
26      not_too_light
27      not_too_light
28      not_too_heavy
29      not_too_light
            ...
1127           medium
1128           medium
1129           medium
1130    not_too_light
1131           medium
1132           medium
1133           medium
1134    not_too_light
1135    not_too_heavy
1136    not_too_light
1137    not_too_light
1138    not_too_light
1139    not_too_light
1140    not_too_light
1141            light
1142            heavy
1143    not_too_heavy
1144           medium
1145    not_too_heavy
1146           medium
1147    not_too_heavy
1148    not_too_heavy
1149    not_too_light
1150    not_too_light
1151    not_too_light
1152           medium
1153    not_too_light
1154    not_too_light
1155    not_too_heavy
1156    not_too_light
Name: weight1, dtype: category
Categories (5, object): [light < not_too_light < medium < not_too_heavy < heavy]

In [5]:
l3 = ['low','mid','high']
bs['avg1'] = pd.cut(bs['avg'],3,labels = l3)

In [6]:
bs['avg1']

0        low
1        mid
2       high
3       high
4       high
5        mid
6        mid
7       high
8       high
9        low
10       low
11       low
12      high
13      high
14       low
15       mid
16      high
17      high
18      high
19      high
20       low
21       low
22       low
23      high
24      high
25      high
26      high
27      high
28      high
29      high
        ...
1127     low
1128    high
1129     mid
1130    high
1131     low
1132     mid
1133    high
1134     mid
1135     low
1136    high
1137     low
1138    high
1139    high
1140    high
1141     mid
1142     low
1143     low
1144    high
1145     low
1146    high
1147     low
1148     mid
1149    high
1150     low
1151    high
1152     low
1153    high
1154    high
1155     low
1156     low
Name: avg1, dtype: category
Categories (3, object): [low < mid < high]

In [7]:
label2 = ['Short','Medium','Tall']
bs['height1'] = pd.cut(bs['height'],3,labels = label2)

In [8]:
bs['height1']

0       Medium
1       Medium
2       Medium
3        Short
4        Short
5       Medium
6       Medium
7       Medium
8       Medium
9       Medium
10      Medium
11      Medium
12       Short
13      Medium
14      Medium
15      Medium
16      Medium
17       Short
18      Medium
19      Medium
20      Medium
21      Medium
22        Tall
23      Medium
24      Medium
25      Medium
26      Medium
27      Medium
28      Medium
29      Medium
         ...
1127    Medium
1128     Short
1129      Tall
1130    Medium
1131    Medium
1132    Medium
1133    Medium
1134    Medium
1135      Tall
1136     Short
1137    Medium
1138    Medium
1139    Medium
1140     Short
1141     Short
1142      Tall
1143      Tall
1144     Short
1145      Tall
1146    Medium
1147      Tall
1148    Medium
1149     Short
1150    Medium
1151    Medium
1152    Medium
1153    Medium
1154     Short
1155    Medium
1156     Short
Name: height1, dtype: category
Categories (3, object): [Short < Medium < Tall]

In [9]:
## drop avg are 0

bs = bs[bs.avg!=0]

In [10]:
data =  bs.groupby(['weight1','height1','avg1'])['name'].count().fillna(0)

In [12]:
data.to_csv('data.csv')

In [17]:
data =pd.read_csv('data.csv')

In [18]:
data['Label']=data['weight1']+'-'+data['height1']

In [19]:
data.to_csv('data.csv')

In [20]:
data

          weight1 height1   avg  count                 Label
0           light   Short   mid      2           light-Short
1           light   Short  high     45           light-Short
2           light  Medium   mid      4          light-Medium
3           light  Medium  high     26          light-Medium
4   not_too_light   Short   mid     10   not_too_light-Short
5   not_too_light   Short  high     83   not_too_light-Short
6   not_too_light  Medium   mid     40  not_too_light-Medium
7   not_too_light  Medium  high    242  not_too_light-Medium
8   not_too_light    Tall   mid      1    not_too_light-Tall
9   not_too_light    Tall  high      3    not_too_light-Tall
10         medium   Short  high     20          medium-Short
11         medium  Medium   low      2         medium-Medium
12         medium  Medium   mid     45         medium-Medium
13         medium  Medium  high    269         medium-Medium
14         medium    Tall   mid      8           medium-Tall
15         medium    Tall  high      5           medium-Tall
16  not_too_heavy  Medium   mid      9  not_too_heavy-Medium
17  not_too_heavy  Medium  high     49  not_too_heavy-Medium
18  not_too_heavy    Tall   mid     10    not_too_heavy-Tall
19  not_too_heavy    Tall  high     13    not_too_heavy-Tall
20          heavy  Medium  high      2          heavy-Medium
21          heavy    Tall   mid      1            heavy-Tall
22          heavy    Tall  high      2            heavy-Tall

In [23]:
set(data.Label)

{'heavy-Medium',
 'heavy-Tall',
 'light-Medium',
 'light-Short',
 'medium-Medium',
 'medium-Short',
 'medium-Tall',
 'not_too_heavy-Medium',
 'not_too_heavy-Tall',
 'not_too_light-Medium',
 'not_too_light-Short',
 'not_too_light-Tall'}

In [24]:
sorted(list(set(data.Label)))

['heavy-Medium',
 'heavy-Tall',
 'light-Medium',
 'light-Short',
 'medium-Medium',
 'medium-Short',
 'medium-Tall',
 'not_too_heavy-Medium',
 'not_too_heavy-Tall',
 'not_too_light-Medium',
 'not_too_light-Short',
 'not_too_light-Tall']

In [27]:
l =['heavy-Medium',
 'heavy-Tall',
'not_too_heavy-Medium',
'not_too_heavy-Tall',
 'medium-Short',
 'medium-Medium',
 'medium-Tall',
 'not_too_light-Short',
 'not_too_light-Medium',
 'not_too_light-Tall',
  'light-Short',
 'light-Medium'
]

In [28]:
l

['heavy-Medium',
 'heavy-Tall',
 'not_too_heavy-Medium',
 'not_too_heavy-Tall',
 'medium-Short',
 'medium-Medium',
 'medium-Tall',
 'not_too_light-Short',
 'not_too_light-Medium',
 'not_too_light-Tall',
 'light-Short',
 'light-Medium']